* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}
a {
  text-decoration: none;
}

/* ====================== NAVBAR =================================  */

.navbar {
  background-color: transparent;
  height: 70px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar img {
  width: 50px;
  height: 50px;
  margin: auto 0;
}

.menuNavbar {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.itemNavbar a {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0 1.2rem;
  height: 100%;
}

/* ================================= BODY ====================================== */
body {
  background: url(./images/wallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  background-position: top center;
}

body::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

.bodyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* justify-self: center; */
  margin: 0 auto;
  height: 100vh;
  z-index: 1;
  max-width: 1300px;
  padding: 0 50px;
}

.bodyContainer h1 {
  font-size: 4rem;
  color: whitesmoke;
}

.bodyContainer h2 {
  font-size: 3rem;
  color: #4e8d7c;
}

.bodyContainer p {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
}

.bodyContainer .button {
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 1rem;
  background-color: #4e8d7c;
  text-transform: uppercase;
  font-weight: 800;
}

.bodyContainer a {
  color: whitesmoke;
}

.bodyImage {
  text-align: center;
}
.bodyContainer img {
  height: 80%;
  width: 80%;
}
